# Allgemin
.DS_Store
node_modules
dist
.env

# Frontend

frontend/dist
frontend/node_modules
frontend/.DS_Store

# Backend

backend/node_modules
backend/.DS_Store
backend/dist

backend/__tests__/postman/test.http
